
<!DOCTYPE HTML> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head>  
            <title>Dados do cliente</title>  
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    </head> 
    <body> 
            <h1>Dados do cliente</h1> 
            <p>Nome:<span th:text="${cliente.nome}" /></p> 
            <p>Sobrenome:<span th:text="${cliente.sobrenome}" /></p> 
            <p>Idade:<span th:text="${cliente.idade}" /></p> 
    </body> 
</html>